.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 18px 0px 0px 18px;
  width: 100%;
  padding: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px 18px 18px 0px;
  min-height: 700px;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  background: #fff;
  border-radius: 15px;
}

.buttons {
  margin-top: 20px;
}

.menu {
  margin-top: 20px;
  padding-right: 10px;
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}
